
<div class="" style="margin-left: 5%;">
    <h1>{{cake.name}}</h1>
    <div style="margin-left: 2%; margin-top: 2%;">
        <div class="row ">
            <div class="col">
                <img [src]="cake.image" alt="" style="width: 100%;height: 75%; margin-top: 3%;">
            </div>
            <div class="col p-2">
                <h3>{{cake.name}}</h3>
                <p> {{cake.reviews}} reviews </p>
                <h4>{{cake.price | currency:'INR'}}</h4>
                <p>{{cake.description}} </p>
                <h5>Flavour
                    <span style="padding-left: 2px; font-weight: normal;">{{cake.flavour}}</span></h5>
                <h5>Ingrediants
                    <span style="padding-left: 2px; font-weight: normal;">{{cake.ingredients}}</span></h5>
                <h5>Occasion
                    <span style="padding-left: 2px; font-weight: normal;">{{cake.type}}</span></h5>
                <h5>Weight
                    <span style="padding-left: 2px; font-weight: normal;">{{cake.weight}}</span></h5>
                <h5>Eggless
                    <span style="padding-left: 2px; font-weight: normal;">{{cake.eggless}}</span></h5>
                <hr>
                <button *ngIf="!isAdding" class="btn btn-secondary" (click)="addtocart()
                ">Add to cart</button>
                <button *ngIf="isAdding" disabled class="btn btn-secondary" (click)="addtocart()
                ">Adding to cart...please wait</button>
            </div>
            
            <div class="col">
                
            </div>
        </div>
    </div>
</div>