
<div class="container mb-5 mt-3">
    <div style="width: 250px; margin: auto; border: 3px solid black; padding: 10px;">
        <h2>Change Password</h2>
        <form action="" class="form-group">
            <div *ngIf="responseError" class="form-group mt-3 alert-danger">
                <label for="email">{{responseError}}</label>
            </div>
        <div class="form-group mt-3">
            <label for="email">Old Password</label>
            <input name="display" [(ngModel)]="users.oldpass" type="password" name="name" id="">
        </div>
        <div class="form-group mt-3">
            <label for="pass">New Password</label>
            <input name="display" [(ngModel)]="users.newpass" type="password" name="name" id="">
        </div>
        <div class="form-group mt-3">
            <label for="pass">Confirm Password</label>
            <input name="display" [(ngModel)]="users.confirmpass" type="password" name="name" id="">
        </div>
        <div class="form-group d-flex mt-3">
            <button class="btn btn-outline-primary" (click)="change()" style="margin-left:20px">Cahnge Password</button>

        </div>
    </form>
    </div >
</div>