<footer class="container-fluid bg-grey py-3" style="background-color: grey;">
    <div class="container bg-grey">
       <div class="row">
          <div class="col-md-8">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="assets/logo.jpg" class="logo-footer" width="70px" height="70px" >
                      <p>Kitchen story (Fresh Cakes and all type cakes)</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="row">
                 <div class="col-md-6"></div>
                <div class="col-md-6 ">
                   <h6> Explore</h6>
                   <div class="social">
                    <fa-icon [icon]="faFacebook" size="2x"></fa-icon>&nbsp;
                    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>&nbsp;
                    <fa-icon [icon]="faTwitter" size="2x"></fa-icon>&nbsp;
                    <fa-icon [icon]="faGoogle" size="2x"></fa-icon>
                   </div>
                   <p>Kitchen story *FRESH CAKES*</p>
                </div>
             </div>
          </div>
       </div>
    </div>