<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#upi" aria-controls="upi" aria-expanded="false" aria-label="Toggle navigation" style="width: 400px; margin-bottom: 5%; margin-left: 15%; margin-top: 5%;">
    Click me to view password
  </button>
  <div class="collapse" id="upi" style="margin-left: 25%;">
      <form action="">
          <div >
              <h6>{{password}} </h6>
          </div>
          
      </form>

  </div>
  <br>
  <br>
  <br>
  <div style="margin-bottom: 30%;margin-left: 22%;">
      <button routerLink="/admin">click to here to Login</button>
  </div>